.o2-analyzer-content {
  margin-top: 10px;
}
.o2-analyzer-severity {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.severity-tag {
  cursor: pointer;
  margin: 3px;
}
.severity-tag:nth-child(1) {
  margin-left: 0;
}
.severity-tag:nth-last-child(1) {
  margin-right: 0;
}